p {
  color: red;
}

.dice {
  width: 60px;
  height: 60px;
  border: 2px solid black;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  /* margin-left: 25px;
  margin-top: 25px; */
}
